{% extends 'products/layout.html' %}

{% block title %}FPR CRUD Django{% endblock %}

{% block content %}
<div class="text-center  text-danger ">
    <h1  class="modal-title" style="font-size: 70px" >Viera Market</h1>
  </div>
  
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
              <img class="img-fluid" src="https://plazavea.vteximg.com.br/arquivos/ids/345000-220-220/199315.jpg?v=637287873277000000">
              <div class="card-body">
                <p class="card-text">Leche Evaporada GLORIA Light</p>
                <p>S/ 18.90</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col text-center">
                    <button type="button " class="btn btn-sm btn-outline-danger">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
              <img class="img-fluid" src="https://plazavea.vteximg.com.br/arquivos/ids/423248/20198552.jpg?v=637377101312700000">
              <div class="card-body">
                <p class="card-text">Azúcar Rubia BELL'S Bolsa 1Kg</p>
                <p>S/ 3.00</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col text-center">
                    <button type="button " class="btn btn-sm btn-outline-danger ">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
              <img class="img-fluid" src="https://s.cornershopapp.com/product-images/853511.jpg?versionId=nNULVclprTDz83XV5pNRGdbsAFDk5e2y">
              <div class="card-body">
                <p class="card-text">Huevos Pardos BELL'S paqt de 15 unidades </p>
                <p>S/ 7.90</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col text-center">
                    <button type="button " class="btn btn-sm btn-outline-danger">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
              <img class="img-fluid" src="https://plazavea.vteximg.com.br/arquivos/ids/554165-1000-1000/641425.jpg?v=637426577652870000">
              <div class="card-body">
                <p class="card-text">Arroz Extra COSTEÑO 5Kg</p>
                <p>S/ 18.90</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col text-center">
                    <button type="button " class="btn btn-sm btn-outline-danger">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
              <img class="img-fluid" src="https://plazavea.vteximg.com.br/arquivos/ids/550602-1000-1000/161.jpg?v=637425699041470000">
              <div class="card-body">
                <p class="card-text">Aceite PRIMOR Botella 1L.</p>
                <p>S/ 11.90</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col text-center">
                    <button type="button " class="btn btn-sm btn-outline-danger">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
              <img class="img-fluid" src="https://plazavea.vteximg.com.br/arquivos/ids/563976-1000-1000/20206657.jpg?v=637429885083730000">          
              <div class="card-body">
                <p class="card-text">Queso fresco LAIVE Paq 300g</p>
                <p>S/ 4.20</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col text-center">
                    <button type="button " class="btn btn-sm btn-outline-danger">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
              <img class="img-fluid" src="https://miamarket.pe/assets/uploads/ddb22d63ce75b5161294e76e7caa14cc.jpg">                    
              <div class="card-body">
                <p class="card-text">Yogurt Bebible GLORIA  Botella 1Lt</p>
                <p>S/ 5.50</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col text-center">
                    <button type="button " class="btn btn-sm btn-outline-danger">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
              <img class="img-fluid" src="https://plazavea.vteximg.com.br/arquivos/ids/354436-450-450/20129237.jpg?v=637298461992830000" >                         
              <div class="card-body">
                <p class="card-text"> Harina LA CASA MARIMEL  Bolsa 1kg</p>
                <p>S/ 3.20</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col text-center">
                    <button type="button " class="btn btn-sm btn-outline-danger">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
              <img class="img-fluid" src="https://plazavea.vteximg.com.br/arquivos/ids/405383-1000-1000/20043755.jpg?v=637352578242670000">                         
              <div class="card-body">
                <p class="card-text">Pan de Molde Blanco BELL'S  Bolsa 500g</p>
                <p>S/8.30</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col text-center">
                    <button type="button " class="btn btn-sm btn-outline-danger">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
              <img class="img-fluid" src="https://estiloperuano.com/wp-content/uploads/2020/05/Gaseosa-INCA-KOLA-Botella-3L-900-x-900.png" >                         
              <div class="card-body">
                <p class="card-text">Gaseosa INKA KOLA Botella 3 Litros</p>
                <p>S/ 11.90</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col text-center">
                    <button type="button " class="btn btn-sm btn-outline-danger">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
              <img class="img-fluid" src="https://plazavea.vteximg.com.br/arquivos/ids/411919-1000-1000/20184799.jpg?v=637364951277170000">                         
              <div class="card-body">
                <p class="card-text">Fideos DON VITTORIO Rigatoni Bolsa 500g</p>
                <p>S/ 3.90</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col text-center">
                    <button type="button " class="btn btn-sm btn-outline-danger">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
              <img class="img-fluid" src="https://plazavea.vteximg.com.br/arquivos/ids/530167-1000-1000/94536.jpg?v=637419676215800000">                         
              <div class="card-body">
                <p class="card-text">Papel Higiénico SUAVE  Paquete 24un</p>
                <p>S/ 3.90</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col text-center">
                    <button type="button " class="btn btn-sm btn-outline-danger">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <img class="img-responsive"  width="1120" height="170" src="https://d26lpennugtm8s.cloudfront.net/stores/001/381/353/rte/banner%20pagina%20web1.jpg">
          </div>
          <header>
            <div class="contenedor2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62475.191117059134!2d-77.0835900266113!3d-11.856299210115733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105d703b2803895%3A0x864835d9632d3a0b!2sViera%20Market!5e0!3m2!1ses-419!2spe!4v1629506839994!5m2!1ses-419!2spe" width="1120" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  </header>
            </div>


{% endblock %}